* {
  margin: 0;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: #004687;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #004687;
}
